
<main>
    <div class="container">
        <div class="jumbotron">
            <h1>Eat da Burger </h1>
            <div class="row">
                <div class="col-6">
                    <div>
                        <ul>
                            {{#each burgers}} {{#unless devoured}}
                            <li>
                                <p>
                                    {{this.id}}. {{this.burger_name}}

                                    <button data-id="{{this.id}}" data-devour="{{devour}}" class="devourBurger">{{#unless devoured}}Devour!{{/unless}}</button>
                                </p>
                            </li>
                            {{/unless}} {{/each}}
                        </ul>
                    </div>
                </div>

                <div class="col-6">
                    <div>
                        <ul>
                            {{#each burgers}} {{#if this.devoured}}
                            <li>
                                <p>
                                    {{this.id}}. {{this.burger_name}}

                                    <button data-burgerId="{{id}}" data-devour="{{devour}}" class="devourBurger">Devoured!</button>
                                </p>
                            </li>
                            {{/if}} {{/each}}
                        </ul>
                    </div>
                </div>

                <div class="row">
                    
                    <form id="addBurger" class="button-size">
                        <input type="text" id="burgerName" name="name">
                        <button type="submit">Add Burger</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</main>





<footer class="page-footer">