<h1>Eat da Burger 1</h1>
<main>
    <div class="container">
        <div class="jumbotron">
        <div class="row">
            <div class="col-6">
                <div>
                    <ul>
                        {{#each burgers}} {{#unless devoured}}
                        <li>
                            <p>
                                {{this.id}}. {{this.burger_name}}

                                <button data-id="{{this.id}}" data-devour="{{devour}}" class="devourBurger">{{#unless devoured}}Devour!{{/unless}}</button>
                            </p>
                        </li>
                        {{/unless}} {{/each}}
                    </ul>
                </div>
            </div>

            <div class="col-6">
                <div>
                    <ul>
                        {{#each burgers}} {{#if this.devoured}}
                        <li>
                            <p>
                                {{this.id}}. {{this.burger_name}}

                                <button data-burgerId="{{id}}" data-devour="{{devour}}" class="devourBurger">Devoured!</button>
                            </p>
                        </li>
                        {{/if}} {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        </div>
    </div>
</main>



<h2>Add a Burger</h2>
<form id="addBurger" class="button-size">
    <textarea type="text" name="burger_name"></textarea>
    <button type="submit">Add Burger</button>
</form>

 <footer class="page-footer">
          
         